@import "colors";

@mixin gradientMake($color1, $color2) {
    background: linear-gradient($color1, $color2);
}

.btn  {
  padding: 1rem 1.5rem;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
}

.btn-primary  {
  border-radius: 5px;
}

.btn-rounded  {
  border-radius: 30px;
}

.btn-outlined  {
  border-width: 3px;
  border-style: solid;
  transition: all 0.5s;

  &:hover {
    color: #fff;
    transition: all 0.5s;
  }
  &::after {
    border: none;
  }
}

.gradient-black {
  background: $black !important;
}

.gradient-green {
    @include gradientMake($green, $green-light);
}



.black-btn  {
  border-color: $black;
  color: $black;

  &:hover {
    background-color: $black;
  }
}

.green-btn  {
  border-color: $green;
  color: $green;

  &:hover {
    background-color: $green;
  }
}

.orange-btn  {
  border-color: $orange-btn;
  color: $orange-btn;

  &:hover {
    background-color: $orange-btn;
  }
}

.purple-btn  {
  border-color: $purple-btn;
  color: $purple-btn;

  &:hover {
    background-color: $purple-btn;
  }
}

button:disabled  {
  box-shadow: unset;
  opacity: .8;
  background: $disabled;
  color: #fff;
  border: none;

  &:hover  {
    box-shadow: unset;
    background: $disabled;
  }
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover:hover::after {
    transform: scale(1.2);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white--white::after {
    background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation-name: moveInBotton;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }
