@import "colors";

.centered {
  align-content: center;
  
}

.card  {
  padding: 1rems;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 1px 10px 0px rgba(5, 5, 5, 0.13);
  
  .choice1 {
    color: $card_oneText;
    background-color: $card_one;
  }
  .medium {
    width: 5rem;
  }
  .large {
    width: 15rem;
  }
  .small {
    width: 5rem;
  }
  .small_Size{
    width: 5rem;
    height: 5rem;
  }

  .card-header  {
    padding: 1.5rem;
    font-size: 3rem;
    text-align: center;
    .choice1 {
    background-color: $card_one;
    color: $card_oneText;
    }

    h4  {
      font-weight: bold;
      margin: 0;
    }
  }
  .card-textarea {
      padding: 1rem;
        font-size: 1.5rem;
          font-weight: bold;
        text-align: center;
  } 

  .card-img  {
    
    position: relative;
    align-content: center;
   width: 260px;
    img  {
      position: relative;
     
      display: block;
    }
  }

  .card-footer  {
    padding: 1.5rem 0 1.5rem 1.5rem;
    .choice1 {
    background-color: $card_one;
    color: $card_oneText;
    }

    h4  {
      font-weight: bold;
      margin: 0;
    }
  }


}

.card-no-footer  {
  .card-img  {

    img  {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

.card-no-header  {
  .card-img  {
    img  {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

.card-hover  {
  transition: all .3s;
  &:hover  {
    box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
    transition: all .3s;
  }
}