@import "colors";

.input__Box {
  background-color: $bg_white;
  width: 30rem ;
  padding: 1rem;
}
.inputControl {
 color: #9b9b9b;
}

.input__Style {
  position: relative;
  font-family: inherit;
  width: 100%;
border-radius: 5px;
  border: 2px solid #9b9b9b;
  
  outline: 0;
  font-size: 1rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  .placeholder {
      color: transparent;
  }
  .placeholder-shown {
      font-size: 1rem;
      cursor: text;
  }
  &::focus {
      position: relative;
      top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.5rem;
    color: #9b9b9b;
    font-weight:700;  
    padding-bottom: 6px;  
    font-weight: 700;
     border-radius: 5px;
    border-image: linear-gradient(to right, #11998e,#38ef7d);
    border-image-slice: 1;
  }
}

/* reset input */
.input__Style .required, .invalid { box-shadow:none; }

.form__Box {
 
  box-shadow: 0px 2px 7px 0px rgba(5, 5, 5, 0.13);
 .title {
  position: relative;
  font-size: 2rem;
  padding: 1rem;
  padding-right: 0;
  background-color: $bg_white;
}
}

.form__hover  {
  transition: all .3s;
  &:hover  {
    box-shadow: 0px 11px 16px 0px rgba(5, 5, 5, 0.23);
    transition: all .3s;
  }
}