@import "buttons";
@import "form";
@import "grids";
@import "card";
@import "colors";
@import "media";
@import url("https://fonts.googleapis.com/css?family=Abel|Anton|Cabin|Dancing+Script|Indie+Flower|Lacquer|Lato|Lobster|Long+Cang|Lora|Ma+Shan+Zheng|Montserrat|Muli|Open+Sans|Oswald|Pacifico|Raleway|Roboto&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
}

/* Body Base */
body {
  font-family: sans-serif;
  background: $bg_white;
  font-family: 1rem;
  line-height: 1.3;
}

/* Font Classes */
.font-abel {
  font-family: "Abel", sans-serif;
}

.font-anton {
  font-family: "anton", sans-serif;
}

.font-cabin {
  font-family: "cabin", sans-serif;
}

.font-dancing {
  font-family: "Dancing Script", cursive;
}

.font-indie {
  font-family: "Indie Flower", cursive;
}

.font-lacquer {
  font-family: "Lacquer", sans-serif;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

.font-lobster {
  font-family: "Lobster", cursive;
}
.font-long {
  font-family: "Long Cang", cursive;
}

.font-lora {
  font-family: "Lora", serif;
}

.font-ma {
  font-family: "Ma Shan Zheng", cursive;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-muli {
  font-family: "Muli", sans-serif;
}

.font-open {
  font-family: "Open Sans", sans-serif;
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.font-pacifico {
  font-family: "Pacifico", cursive;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}


html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

a strong {
  color: black;
}

a:hover {
  color: #363636;
}

/* body */


p{
    font-size: 2rem;
}

/* Card */
.cardStyle {
    display: flex;
    
    height: 30vh;
    background-color: rgb(181, 199, 166);
    border-radius: 5px;
    
}
.cardBody {
    padding: 1em;
   
}

.cardTitle {
    font-size: 1.5rem;
    padding: 2px;
}

.cardCon {
    padding: 2px;
    font-size: 1rem;
}