*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(/img/intro-bg.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 5rem;
    transform: translate(-50%, -50%); }
  .header__logo {
    position: absolute; }

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }



body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
   }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  80% {
    transform: translateX(0.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  80% {
    transform: translateX(-0.3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBotton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  80% {
    transform: translateX(-0.2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
  /*
    animation-iteration-count: 3;
    animation-delay: 2s;
    animation-timing-function: ;
*/ }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: .74px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1); }

    .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem; }

