
.inputBox {
  
  width: 30rem ;
  padding: 1rem;
}
.nputControl {
 color: #9b9b9b;
}
.inputLabel {
position: relative;
  display: block;
  transition: 0.2s;
  font-size: 2rem;
  color: #9b9b9b;
}

.inputStyle {
  position: relative;
  font-family: inherit;
  width: 100%;
border-radius: 5px;
  border: 1px solid #9b9b9b;
  
  outline: 0;
  font-size: 1rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
  .inputStyle .placeholder {
    color: transparent;
  }

  .inputStyle .placeholder-shown ~ .inputLabel {
    font-size: 1rem;
    cursor: text;
  }

.inputStyle:focus .inputLabel {
  position: relative;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.5rem;
    color: #9b9b9b;
    font-weight:700;    
  }
  .inputStyle:focus{
  padding-bottom: 6px;  
  font-weight: 700;
  border-radius: 5px;
 
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}
/* reset input */
.inputStyle .required, .invalid { box-shadow:none; }

.formBox {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #38ef7d;
}
.formBox .title {
  position: relative;
  font-size: 2rem;
  padding: 1rem;
}