/* Blank */
.blank {
    padding: 0;
    margin: 0;
}

.wrapper {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    flex-wrap: wrap;
   padding: 5px;
   
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
  
}


@media only screen and (max-width: 501) {
    .column {
        flex-wrap: wrap;
    }
}

/* GRID OF TWELVE */

.col-12-of-12 {
    width: 100%;
        height: 6vh;
    background-color: rgb(177, 231, 90);
}

.col-11-of-12 {
    width: 91.66%;
        height: 6vh;
    background-color: rgb(177, 231, 90);
}

.col-10-of-12 {
    width: 83.33%;
        height: 6vh;
    background-color: rgb(177, 231, 90);
}

.col-9-of-12 {
    width: 75%;
        height: 6vh;
 background-color: rgb(177, 231, 90);
}

.col-8-of-12 {
    width: 66.66%;
        height: 6vh;
    background-color: rgb(177, 231, 90);
}

.col-7-of-12 {
    width: 58.33%;
        height: 6vh;
   background-color: rgb(177, 231, 90);
}

.col-6-of-12 {
    width: 50%;
        height: 6vh;
    background-color: rgb(177, 231, 90);
}

.col-5-of-12 {
    width: 41.66%;
        height: 6vh;
 background-color: rgb(177, 231, 90);
}

.col-4-of-12 {
    width: 33.33%;
        height: 6vh;
        background-color: rgb(177, 231, 90);
}

.col-3-of-12 {
    width: 25%;
        height: 6vh;
  background-color: rgb(177, 231, 90);
}

.col-2-of-12 {
    width: 16.66%;
        height: 6vh;
   background-color: rgb(177, 231, 90);
}

.col-1-of-12 {
    width: 8.33%;
    height: 6vh;
   background-color: rgb(177, 231, 90);
}

